@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

html {
  @apply font-light;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

.btn-default {
  @apply bg-slate-500 text-white hover:bg-slate-600 focus:bg-slate-600 active:bg-slate-800;
}

.btn-primary {
  @apply bg-blue-600 text-white hover:bg-blue-700 focus:bg-blue-700 active:bg-blue-800;
}

.btn-danger {
  @apply bg-red-600 text-white hover:bg-red-700 focus:bg-red-700 active:bg-red-800;
}

.btn-secondary {
  @apply bg-gray-600 text-white hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-800;
}

.btn-success {
  @apply bg-green-600 text-white hover:bg-green-700 focus:bg-green-700 active:bg-green-800;
}

.btn-warning {
  @apply bg-yellow-600 text-white hover:bg-yellow-700 focus:bg-yellow-700 active:bg-yellow-800;
}

.DragContainer-column .DragContainer {
  flex-direction: column;
  display: flex;
}

.DragContainer-column .DragBlockPanel {
  flex-direction: column;
}

.DragContainer-column .DragInner {
  flex-direction: row;
  display: flex;
}

.DragContainer-row .DragTextPanel {
  margin-top: 6px;
}

.DragContainer-row .DragTextPanel {
  flex-direction: column;
}

.DragContainer-column .DragTextPanel {
  flex-direction: row;
}

.DragContainer-column .DragTextPanel-bottom {
  margin-top: 0px;
}

.DragContainer-column .DragHandle {
  max-width: 140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.DragContainer-column .DragHandleFlip {
  max-width: 140px;
  width: 100%;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.cm-editor {
  border-radius: 0.5rem;
  overflow: hidden;
}
