@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

html {
  @apply text-gray-700;
}

.btn-default {
  @apply bg-slate-500 text-white hover:bg-slate-600 focus:bg-slate-600 active:bg-slate-800;
}

.btn-primary {
  @apply bg-blue-600 text-white hover:bg-blue-700 focus:bg-blue-700 active:bg-blue-800;
}

.btn-danger {
  @apply bg-red-600 text-white hover:bg-red-700 focus:bg-red-700 active:bg-red-800;
}

.btn-secondary {
  @apply bg-gray-600 text-white hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-800;
}

.btn-success {
  @apply bg-green-600 text-white hover:bg-green-700 focus:bg-green-700 active:bg-green-800;
}

.DragContainer-column .DragContainer {
  flex-direction: column;
  display: flex;
}

.DragContainer-column .DragBlockPanel {
  flex-direction: column;
}

.DragContainer-column .DragInner {
  flex-direction: row;
  display: flex;
}

.DragContainer-row .DragTextPanel {
  margin-top: 6px;
}

.DragContainer-row .DragTextPanel {
  flex-direction: column;
}

.DragContainer-column .DragTextPanel {
  flex-direction: row;
}

.DragContainer-column .DragTextPanel-top {
  flex-direction: column;
  display: flex;
  margin-left: 6px;
}

.DragContainer-column .DragTextPanel-bottom {
  flex-direction: column;
  display: flex;
  margin-left: 6px;
}

.DragContainer-column .DragHandle {
  width: 100%;
  height: 34px;
}
.DragContainer-row .DragHandleFlip {
  margin-left: 14px;
}
.DragContainer-column .DragHandleFlip {
  width: 100%;
  margin-top: 14px;
  height: 34px;
}
